@model CharacterManager.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RolledHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RolledHP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Int)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
